@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0f0f;
  --panel: #1a1a1a;
  --accent: #86efac;
}

html, body {
  background: var(--background);
  color: white;
}
